.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-stretch {
  align-items: stretch;
}

.w-full {
  width: 100%
}

.w-30em {
  width: 30em;
}

.m-top-3em {
  margin-top: 3em;
}

.h-2em {
  height: 2em;
}

.min-h-35em {
  min-height: 35em;
}

.w-half {
  width: 50%;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

input[type=text] {
  padding: 12px 20px ;
  border-radius: 10px;
  font-size: large;
}

button {
  background-color: aqua;
  border-radius: 14px;
  min-width: 8em;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tabs button.active {
  background-color: #ddd;
}

.tabs button:hover {
  background-color: #eee;
}
