.body-placeholder {
  display: flex;
  flex-direction: row;
}

.navigator {
  width: 20%;
  /* border: 2px solid blue; */
}

.challenge-placeholder {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}

.challenge {
  height: 20%;
}

.playground {
  /* border: 2px solid red; */
  height: 80%;
  display: flex;
  flex-direction: row;
}

.editor {
  height: 500px;
  width: 50%;
  /* border: 3px solid purple; */
}

.executor {
  width: 50%;
  /* border: 3px solid chocolate; */
  white-space: pre-wrap;
}

